.mdictApp {
  border-radius: 30px;
  .topRightbButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    left: 8px;
    width: 52px;
  }
  .mdictHeader {
    height: 50px;
    background: #d74e48;
    padding: 0 30px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    .search {
      border-radius: 30px;
      border: 0;
      background: #dd6763;
      color: #fff;
      padding: 5px 10px;
      font-size: 12px;
      &:focus {
        outline: 0;
      }
    }
  }
  .mdictBody {
    display: flex;
    height: calc(100vh - 50px);
    .searchList {
      background: #f6f6f6;
      border-right: 1px solid #d5d5d5;
      overflow: auto;
      margin: 0;
      padding: 15px 0 0;
      list-style: none;
      width: 200px;
      li {
        padding: 8px 10px;
        color: #333;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
          background: #d2d2d2;
          color: #d74e48;
        }
      }
    }
    .mdictContent {
      width: calc(100vw - 200px);
      overflow: auto;
      padding: 20px 30px;
    }
  }
}
